registry=https://registry.npmmirror.com/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
electron_mirror=https://npmmirror.com/mirrors/electron/
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-pre-gyp/
chromedriver_cdnurl=https://cdn.npmmirror.com/dist/chromedriver
# 下面这行是解决 Nuxt 卡顿的关键：
esbuild_binary_host_mirror=https://npmmirror.com/mirrors/esbuild/